.Register {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}

.RegisterWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.RegisterLeft,
.RegisterRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RegisterLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.RegisterDesc {
  font-size: 24px;
  color: white;
}

.RegisterBox {
  height: 400px;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RegisterInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: transparent;
  font-size: 18px;
  padding-left: 20px;
  color: white;
}

.RegisterInput:focus {
  outline: none;
}

.RegisterButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.RegisterForgot {
  text-align: center;
  color: #1775ee;
}

.RegisterloginButton {
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
